body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 768px;
    margin: auto;
    padding: 16px;
    word-wrap: break-word;

    background-color: #11121b;
    color: rgba(255, 255, 255, 0.87);
}

.content {
    text-align: justify;
}

p {
    text-indent: 32px;
}

p.no-indent {
    text-indent: 0;
}

li h2 {
    font-weight: normal;
}

figure img {
    width: 100%;
    border-radius: 16px;
    box-shadow: 16px 16px 64px rgba(128, 128, 128, 0.082);
}

figcaption {
    color: rgba(255, 255, 255, 0.75);
}